@model MvcStok.Models.Entity.TBL_SATISLAR

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1" style="background:#000000">SATIŞ YAP</button>

<div class="modal" id="Modal1">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="media-header">

                <h2 class="modal-title" style="text-align:center">Satış Ekranı</h2>

            </div>
            <form method="post" action="/Satis/YeniSatis">
                <div class="modal-body">
                    <label>
                        Ürün Adı:
                    </label>
                    <br />
                    @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })
                    <br />
                    <label>
                        Müşteri Adı Soyadı:
                    </label>
                    <br />
                    @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })
                    <br />
                    <label>
                        Adet
                    </label>
                    <br />
                    @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })
                    <br />
                    <label>
                        Fiyat
                    </label>
                    <br />
                    @Html.TextBoxFor(m => m.FİYAT, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-success">SATIŞ İŞLEMİNİ YAP</button>
                    <button type="reset" class="btn btn-danger" data-dismiss="modal">SATIŞ İŞLEMİNİ REDDET</button> 
                </div>
            </form>
        </div>
    </div>
</div>